<% results.forEach((result) => { %>
    <h3 class="text-center p-4">User:</h3>
    <div class="shadow-sm w-50 bg-body-tertiary rounded m-auto p-4 d-flex justify-content-center align-items-center">
        <form action="" class="w-75 my-3">
            <div class="mb-3">
                <label for="fullName">
                    Name
                </label>
                <input type="text" name="full_name" id="fullName" class="form-control" placeholder="Full name" value="<%= result.full_name %>" readonly>
            </div>
            <div class="mb-3">
                <label for="email">
                    Email
                </label>
                <input type="email" name="email" id="email" class="form-control" placeholder="Email address" value="<%= result.email %>" readonly>
            </div>
            <div class="mb-3">
                <label for="mobNo">
                    Mobile Number
                </label>
                <input type="tel" name="mobile_number" id="mobNo" class="form-control" placeholder="Mobile number" value="<%= result.mobile_number %>" readonly>
            </div>
            <div class="mb-3">
                <label for="jobPosition">
                    Job Position
                </label>
                <input type="text" name="job_position" id="jobPosition" class="form-control" placeholder="Job position" value="<%= result.job_position %>" readonly>
            </div>
            <a href="/users/" class="btn btn-sm btn-primary">Go back to list</a>
        </form>
    </div>
<% }); %>